:root {
    --square-size: 16;
}

.square {
    /* use the --cols variable set on the container to compute each cell's basis */
    flex: 1 0 calc(100% / var(--square-size));
    background-color: white;
    border: 0.2px rgb(0, 0, 0) solid;
    box-sizing: border-box;
    min-width: 0;
}

.input{
    margin: 10px;
    font-weight: 700;
    font-size: 25px;

}

#size{
    width: 60px;
    height: 15px;
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
}

#set-size{
    font-size: 15px;
    margin-left: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: 2px red solid;


}

body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
}
  
#clear{
    margin-top: 10px;
    font-size: 15px;
}